# Lending Club Case Study

**Problem Statement**

### Read Dataset

In [1]:
#import the libraries
import numpy as np
import pandas as pd

In [2]:
#read the dataset and check the first five rows
loan = pd.read_csv(r"C:\Users\Saurabh\OneDrive\AI_ML\Lending Club Case Study\loan\loan.csv")
loan.head()

C:\Users\Saurabh\AppData\Local\Temp\ipykernel_37848\929344193.py:2: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  loan = pd.read_csv(r"C:\Users\Saurabh\OneDrive\AI_ML\Lending Club Case Study\loan\loan.csv")

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [3]:
#Check the shape of the dataframe
loan.shape
loan.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 111 columns):
 #    Column                          Non-Null Count  Dtype
---   ------                          --------------  -----
 0    id                              39717 non-null  int64
 1    member_id                       39717 non-null  int64
 2    loan_amnt                       39717 non-null  int64
 3    funded_amnt                     39717 non-null  int64
 4    funded_amnt_inv                 39717 non-null  float64
 5    term                            39717 non-null  object
 6    int_rate                        39717 non-null  object
 7    installment                     39717 non-null  float64
 8    grade                           39717 non-null  object
 9    sub_grade                       39717 non-null  object
 10   emp_title                       37258 non-null  object
 11   emp_length                      38642 non-null  object
 12   home_ownership                  39717 non-null  object
 13   annual_inc                      39717 non-null  float64
 14   verification_status             39717 non-null  object
 15   issue_d                         39717 non-null  object
 16   loan_status                     39717 non-null  object
 17   pymnt_plan                      39717 non-null  object
 18   url                             39717 non-null  object
 19   desc                            26775 non-null  object
 20   purpose                         39717 non-null  object
 21   title                           39706 non-null  object
 22   zip_code                        39717 non-null  object
 23   addr_state                      39717 non-null  object
 24   dti                             39717 non-null  float64
 25   delinq_2yrs                     39717 non-null  int64
 26   earliest_cr_line                39717 non-null  object
 27   inq_last_6mths                  39717 non-null  int64
 28   mths_since_last_delinq          14035 non-null  float64
 29   mths_since_last_record          2786 non-null   float64
 30   open_acc                        39717 non-null  int64
 31   pub_rec                         39717 non-null  int64
 32   revol_bal                       39717 non-null  int64
 33   revol_util                      39667 non-null  object
 34   total_acc                       39717 non-null  int64
 35   initial_list_status             39717 non-null  object
 36   out_prncp                       39717 non-null  float64
 37   out_prncp_inv                   39717 non-null  float64
 38   total_pymnt                     39717 non-null  float64
 39   total_pymnt_inv                 39717 non-null  float64
 40   total_rec_prncp                 39717 non-null  float64
 41   total_rec_int                   39717 non-null  float64
 42   total_rec_late_fee              39717 non-null  float64
 43   recoveries                      39717 non-null  float64
 44   collection_recovery_fee         39717 non-null  float64
 45   last_pymnt_d                    39646 non-null  object
 46   last_pymnt_amnt                 39717 non-null  float64
 47   next_pymnt_d                    1140 non-null   object
 48   last_credit_pull_d              39715 non-null  object
 49   collections_12_mths_ex_med      39661 non-null  float64
 50   mths_since_last_major_derog     0 non-null      float64
 51   policy_code                     39717 non-null  int64
 52   application_type                39717 non-null  object
 53   annual_inc_joint                0 non-null      float64
 54   dti_joint                       0 non-null      float64
 55   verification_status_joint       0 non-null      float64
 56   acc_now_delinq                  39717 non-null  int64
 57   tot_coll_amt                    0 non-null      float64
 58   tot_cur_bal                     0 non-null      float64
 59   open_acc_6m                     0 non-null      float64
 60   open_il_6m                      0 non-null      float64
 61   open_il_12m                     0 non-null      float64
 62   open_il_24m                     0 non-null      float64
 63   mths_since_rcnt_il              0 non-null      float64
 64   total_bal_il                    0 non-null      float64
 65   il_util                         0 non-null      float64
 66   open_rv_12m                     0 non-null      float64
 67   open_rv_24m                     0 non-null      float64
 68   max_bal_bc                      0 non-null      float64
 69   all_util                        0 non-null      float64
 70   total_rev_hi_lim                0 non-null      float64
 71   inq_fi                          0 non-null      float64
 72   total_cu_tl                     0 non-null      float64
 73   inq_last_12m                    0 non-null      float64
 74   acc_open_past_24mths            0 non-null      float64
 75   avg_cur_bal                     0 non-null      float64
 76   bc_open_to_buy                  0 non-null      float64
 77   bc_util                         0 non-null      float64
 78   chargeoff_within_12_mths        39661 non-null  float64
 79   delinq_amnt                     39717 non-null  int64
 80   mo_sin_old_il_acct              0 non-null      float64
 81   mo_sin_old_rev_tl_op            0 non-null      float64
 82   mo_sin_rcnt_rev_tl_op           0 non-null      float64
 83   mo_sin_rcnt_tl                  0 non-null      float64
 84   mort_acc                        0 non-null      float64
 85   mths_since_recent_bc            0 non-null      float64
 86   mths_since_recent_bc_dlq        0 non-null      float64
 87   mths_since_recent_inq           0 non-null      float64
 88   mths_since_recent_revol_delinq  0 non-null      float64
 89   num_accts_ever_120_pd           0 non-null      float64
 90   num_actv_bc_tl                  0 non-null      float64
 91   num_actv_rev_tl                 0 non-null      float64
 92   num_bc_sats                     0 non-null      float64
 93   num_bc_tl                       0 non-null      float64
 94   num_il_tl                       0 non-null      float64
 95   num_op_rev_tl                   0 non-null      float64
 96   num_rev_accts                   0 non-null      float64
 97   num_rev_tl_bal_gt_0             0 non-null      float64
 98   num_sats                        0 non-null      float64
 99   num_tl_120dpd_2m                0 non-null      float64
 100  num_tl_30dpd                    0 non-null      float64
 101  num_tl_90g_dpd_24m              0 non-null      float64
 102  num_tl_op_past_12m              0 non-null      float64
 103  pct_tl_nvr_dlq                  0 non-null      float64
 104  percent_bc_gt_75                0 non-null      float64
 105  pub_rec_bankruptcies            39020 non-null  float64
 106  tax_liens                       39678 non-null  float64
 107  tot_hi_cred_lim                 0 non-null      float64
 108  total_bal_ex_mort               0 non-null      float64
 109  total_bc_limit                  0 non-null      float64
 110  total_il_high_credit_limit      0 non-null      float64
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

### Data Handling and Cleaning


- Columns are having incorrect format 
- Numerical Columns are having special characters 
- Columns having too many missing values
- Columns having constant values such as 0 , xxx , 999 etc.

In [4]:
#Check the number of null values in the columns
loan.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

Observation: Too many columns are having null values which will not provide much insights

Action: Drop columns having too many null values

In [5]:
# Check for columns with more than 50% missing values(NA)
loan = loan.loc[:, (loan.isna().sum() < (loan.shape[0]/2))]
loan.shape

(39717, 54)

In [6]:
# Check for columns with more than 50% missing values(0)
loan = loan.loc[:, ((loan == 0).sum() <(loan.shape[0]/2))]

In [7]:
#check rows with more than 50% NaN values
loan.isna().sum(axis=1).max()

## There arent any row which has too many null values

4

In [8]:
#check Duplicate data
loan.value_counts()

id       member_id  loan_amnt  funded_amnt  funded_amnt_inv  term        int_rate  installment  grade  sub_grade  emp_title               emp_length  home_ownership  annual_inc  verification_status  issue_d  loan_status  pymnt_plan  url                                                               desc                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            purpose             title                                     zip_code  addr_state  dti    earliest_cr_line  inq_last_6mths  open_acc  revol_bal  revol_util  total_acc  initial_list_status  total_pymnt   total_pymnt_inv  total_rec_prncp  total_rec_int  last_pymnt_d  last_pymnt_amnt  last_credit_pull_d  policy_code  application_type
55742    114426     7000       7000         672.803839        36 months  10.71%    228.22       B      B5         CNN                     < 1 year    RENT            65000.0     Not Verified         May-08   Fully Paid   n           https://lendingclub.com/browse/loanDetail.action?loan_id=55742    Just want to pay off the last bit of credit card debt at a better rate.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         credit_card         Credit Card payoff                        112xx     NY          14.29  Oct-00            0               7         33623      76.70%      7          f                    8215.537060   684.94           7000.00          1215.54        Jun-11        228.48           Aug-12              1            INDIVIDUAL          1
749396   948628     5600       5600         5600.000000       36 months  11.99%    185.98       B      B5         State of California     3 years     RENT            52884.0     Not Verified         May-11   Fully Paid   n           https://lendingclub.com/browse/loanDetail.action?loan_id=749396     Borrower added on 05/09/11 > Purpose of loan:<br/>I attempted to provide extremely detailed information but apparently the Lending Club is strict with description terms so I had to revise at least 5 times. Nevertheless, this loan will be used to pay for wedding expenses including a photographer, a videographer, and wedding invitations. Most of the wedding expenses have been accounted for.<br/>My financial situation:<br/>I am a good candidate for this loan because I am a full-time, permanent employee who earns a fixed gross monthly salary of $4,407, which supporting documentation will be provided for. My career is extremely secure, providing job stability. My monthly expenses are low; I do not have a mortgage, which is a significant expense. I&rsquo;m also concerned about improving my FICO scores, which gives me even increased incentive to make on time monthly payments. I&rsquo;ve never owned a house, and have not and will not be directly affected by the sub-prime crash. Please let this be an opportunity benefiting not only , but also yourself. Thank you.<br/>Monthly gross income: $ $4,407 Gross<br/>  wedding             Wedding - Photographer, videographer,etc  923xx     CA          15.18  Apr-01            0               5         7974       93.60%      17         f                    6592.905297   6592.91          5600.00          977.91         Jul-13        2116.10          May-16              1            INDIVIDUAL          1
750212   949517     6000       6000         6000.000000       36 months  11.49%    197.83       B      B4         hot chocolate sparrow   5 years     RENT            24000.0     Not Verified         May-11   Fully Paid   n           https://lendingclub.com/browse/loanDetail.action?loan_id=750212     Borrower added on 05/08/11 > I'm trying to buy a good reliable car. I have a subaru picked out and have had it looked at. I live in a small town and it is a local sale so I am getting a good deal on the car. I have been a manager at a very successful cafe for five years, and will be able to repay. Thanks!<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       car                 car loan                                  026xx     MA          1.90   Oct-00            2               6         3869       30.30%      19         f                    7121.773326   7121.77          6000.00          1121.77        May-14        205.94           Nov-15              1            INDIVIDUAL          1
750210   949515     9600       9600         9600.000000       60 months  13.49%    220.85       C      C2         Ameriprise              10+ years   MORTGAGE        100000.0    Not Verified         May-11   Fully Paid   n           https://lendingclub.com/browse/loanDetail.action?loan_id=750210     Borrower added on 05/08/11 > Adding a pool and small patio to the backyard.  Have been employed with the same company for over 15 years and have been in the home for over six.  Do not miss payments and always on time.<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                home_improvement    Home Improvement Loan                     541xx     WI          10.97  Sep-95            3               11        12901      70.10%      37         f                    12573.250870  12573.25         9600.00          2973.25        May-14        4860.14          May-16              1            INDIVIDUAL          1
750143   949442     24000      14775        14775.000000      36 months  7.49%     459.53       A      A4         Applied Materials       5 years     RENT            67000.0     Source Verified      May-11   Fully Paid   n           https://lendingclub.com/browse/loanDetail.action?loan_id=750143     Borrower added on 05/07/11 > Goal is to pay off high interest credit card bills I am a Financial Analyst in the Semiconductor industry. The high-tech industry is cyclical in nature and in 2008-2009 my company implemented a number of furlows which reduced my income by 25%. I had no other choice, but to use my credit card for living expenses and it's been very difficult to get my credit cards paid off with such high interest. I am a young professional and would love to be able to save some money to buy a house, but this credit card debt is making it nearly impossible. PLEASE help fund my loan. I have had a stable job with the same company for over 5 years and have a great credit history.<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                   debt_consolidation  May2011_Personal_Loan                     787xx     TX          14.69  Apr-93            0               19        31582      38.70%      45         f                    16484.302570  16484.30         14775.00         1709.30        Apr-14        391.62           May-16              1            INDIVIDUAL          1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ..
514479   665045     3000       3000         3000.000000       36 months  13.85%    102.32       C      C4         Healing Health Center   1 year      RENT            16000.0     Not Verified         May-10   Fully Paid   n           https://lendingclub.com/browse/loanDetail.action?loan_id=514479     Borrower added on 05/11/10 > I have a car note and a credit card I would like to pay off and have one low monthly note.  Also the car note is in my ex-husbands name and I would like to get it paid off so I can have it transfered into my name.<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       other               Pay Off Bills                             704xx     LA          3.00   Nov-06            0               2         880        58.70%      6          f                    3466.330024   3466.33          3000.00          466.33         Jan-12        607.12           Feb-12              1            INDIVIDUAL          1
514473   665034     24250      24250        23095.140000      36 months  11.36%    798.10       B      B5         State of Wisconsin-DOC  10+ years   MORTGAGE        77052.0     Verified             May-10   Fully Paid   n           https://lendingclub.com/browse/loanDetail.action?loan_id=514473     Borrower added on 05/10/10 > This loan will be used for debt consolidation.  I have an EXCELLENT credit score and have worked for the State of Wisconsin for 16 1/2 years.  I am currently a Section Chief for the Department of Corrections, and since I am in Corrections, I will have a job.<br/> Borrower added on 05/18/10 > We do have equity in our house and still have a mortgage.<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              debt_consolidation  Debt Consolidation                        532xx     WI          11.23  Feb-94            1               14        19225      34%         48         f                    27655.021480  26198.47         24250.00         3405.02        Mar-12        3113.21          May-16              1            INDIVIDUAL          1
514446   664995     8000       8000         8000.000000       36 months  10.25%    259.08       B      B2         Omni Services Inc       7 years     MORTGAGE        39996.0     Not Verified         May-10   Fully Paid   n           https://lendingclub.com/browse/loanDetail.action?loan_id=514446     Borrower added on 05/11/10 > I plan on paying off some debts. I also plan on buying a car.<br/> Borrower added on 05/11/10 > I have been with my place of employment for 7 years and still going.<br/> Borrower added on 05/11/10 > I also pay all my bills on time or ahead of time.<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    major_purchase      al                                        016xx     MA          3.81   Oct-00            0               5         6075       58.40%      7          f                    8968.999400   8969.00          8000.00          969.00         Nov-11        4587.91          May-16              1            INDIVIDUAL          1
514399   664939     15000      15000        14501.912530      36 months  10.62%    488.40       B      B3         American Express        10+ years   RENT            66000.0     Source Verified      May-10   Charged Off  n           https://lendingclub.com/browse/loanDetail.action?loan_id=514399     Borrower added on 05/11/10 > I am applying for a personal loan to consolidate my credit card debt into one monthly payment.<br/> Borrower added on 05/12/10 > I would like to note that having this loan not only will consolidate my debt into one monthly payment, it will also help me save on my current credit card interest rates significantly, allowing me to pay off my debt much faster.<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       debt_consolidation  savings                                   926xx     CA          9.55   Apr-96            0               9         17835      53.10%      41         f                    1513.160000   1496.71          1073.95          387.95         Aug-10        488.40           May-16              1            INDIVIDUAL          1

In [9]:
#Columns pymnt_plan,initial_list_status,policy_code,application_type has same value for all rows. It doesnt give proper data variation trend. 
# Drop columns.
loan.drop(['pymnt_plan','initial_list_status','policy_code','application_type'],axis=1,inplace=True)

In [10]:
# Re-verify dataset
loan.value_counts()

# Re-Count null values
loan.isnull().sum()

id                         0
member_id                  0
loan_amnt                  0
funded_amnt                0
funded_amnt_inv            0
term                       0
int_rate                   0
installment                0
grade                      0
sub_grade                  0
emp_title               2459
emp_length              1075
home_ownership             0
annual_inc                 0
verification_status        0
issue_d                    0
loan_status                0
url                        0
desc                   12942
purpose                    0
title                     11
zip_code                   0
addr_state                 0
dti                        0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
revol_bal                  0
revol_util                50
total_acc                  0
total_pymnt                0
total_pymnt_inv            0
total_rec_prncp            0
total_rec_int              0
last_pymnt_d              71
last_pymnt_amnt            0
last_credit_pull_d         2
dtype: int64

In [11]:
# Check desc column for missing values
loan.desc.value_counts()

# Since this column has meaningful values which can give us insights, it is not safe to drop the column
# Replace missing values with 'Not Available'
loan.desc.fillna('Not Available',inplace=True)

In [12]:
# Check emp title column for missing values
loan[loan['emp_title'].isna()]

# Since this column has meaningful values which can give us insights, it is not safe to drop the column
# Check emp title column for most common value
loan['emp_title'].mode()

# Replace missing values with most frequent value
loan['emp_title'].fillna(value=loan['emp_title'].mode().values[0],inplace=True)

# Re-Count null values
loan.isnull().sum() 
loan.shape

(39717, 37)

In [27]:
# Check employment length (emp_length) column for missing values
loan['emp_length'].isna().sum()

# Replacing NaN values with any other value will cause an impact on the computations. So we are dropping rows with empty values.
loan = loan[~loan['emp_length'].isna()]

# Re-Count null values
loan.isnull().sum() 

# Reset index
loan.reset_index

<bound method DataFrame.reset_index of             id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
0      1077501    1296599       5000         5000           4975.0
1      1077430    1314167       2500         2500           2500.0
2      1077175    1313524       2400         2400           2400.0
3      1076863    1277178      10000        10000          10000.0
4      1075358    1311748       3000         3000           3000.0
...        ...        ...        ...          ...              ...
39712    92187      92174       2500         2500           1075.0
39713    90665      90607       8500         8500            875.0
39714    90395      90390       5000         5000           1325.0
39715    90376      89243       5000         5000            650.0
39716    87023      86999       7500         7500            800.0

             term int_rate  installment grade sub_grade  ... revol_bal  \
0       36 months   10.65%       162.87     B        B2  ...     13648
1       60 months   15.27%        59.83     C        C4  ...      1687
2       36 months   15.96%        84.33     C        C5  ...      2956
3       36 months   13.49%       339.31     C        C1  ...      5598
4       60 months   12.69%        67.79     B        B5  ...     27783
...           ...      ...          ...   ...       ...  ...       ...
39712   36 months    8.07%        78.42     A        A4  ...      7274
39713   36 months   10.28%       275.38     C        C1  ...      8847
39714   36 months    8.07%       156.84     A        A4  ...      9698
39715   36 months    7.43%       155.38     A        A2  ...     85607
39716   36 months   13.75%       255.43     E        E2  ...      4175

      revol_util total_acc   total_pymnt total_pymnt_inv total_rec_prncp  \
0         83.70%         9   5863.155187         5833.84         5000.00
1          9.40%         4   1008.710000         1008.71          456.46
2         98.50%        10   3005.666844         3005.67         2400.00
3            21%        37  12231.890000        12231.89        10000.00
4         53.90%        38   3513.330000         3513.33         2475.94
...          ...       ...           ...             ...             ...
39712     13.10%        40   2822.969293         1213.88         2500.00
39713     26.90%         9   9913.491822         1020.51         8500.00
39714     19.40%        20   5272.161128         1397.12         5000.00
39715      0.70%        26   5174.198551          672.66         5000.00
39716     51.50%         8   9195.263334          980.83         7500.00

      total_rec_int last_pymnt_d last_pymnt_amnt last_credit_pull_d
0            863.16       Jan-15          171.62             May-16
1            435.17       Apr-13          119.66             Sep-13
2            605.67       Jun-14          649.91             May-16
3           2214.92       Jan-15          357.48             Apr-16
4           1037.39       May-16           67.79             May-16
...             ...          ...             ...                ...
39712        322.97       Jul-10           80.90             Jun-10
39713       1413.49       Jul-10          281.94             Jul-10
39714        272.16       Apr-08            0.00             Jun-07
39715        174.20       Jan-08            0.00             Jun-07
39716       1695.26       Jun-10          256.59             Jun-10

[38642 rows x 37 columns]>

In [84]:
# Check title column for missing values
loan[loan.title.isnull()]

# Since this column has meaningful values which can give us insights, it is not safe to drop the column
# This column is a categorization of the column purpose , we can use the same value to fill up missing values 
loan.loc[(loan['title'].isna()), 'title'] = loan[loan.title.isnull()].purpose.values

# Re-Count null value
loan.isna().sum()

id                      0
member_id               0
loan_amnt               0
funded_amnt             0
funded_amnt_inv         0
term                    0
int_rate                0
installment             0
grade                   0
sub_grade               0
emp_title               0
emp_length              0
home_ownership          0
annual_inc              0
verification_status     0
issue_d                 0
loan_status             0
url                     0
desc                    0
purpose                 0
title                   0
zip_code                0
addr_state              0
dti                     0
earliest_cr_line        0
inq_last_6mths          0
open_acc                0
revol_bal               0
revol_util             47
total_acc               0
total_pymnt             0
total_pymnt_inv         0
total_rec_prncp         0
total_rec_int           0
last_pymnt_d           66
last_pymnt_amnt         0
last_credit_pull_d      2
dtype: int64

In [93]:
# Check last_pymnt_d column for missing values
loan[loan.last_pymnt_d.isnull()]

# All of records with missing value for 'last_pymnt_d' belongs to loans with status as 'Charged off'. 
# Check total count of data for loan status as 'Charged off'
loan['loan_status'].value_counts() 
# 66 out of 5399 records have missing values for 'last_pymnt_d' which is roughly only 1.2% of the data count.
# Hence removing 66 records should not affect the overall analysis for charged off records.

#Removing rows with missing values for 'last_pymnt_d'
loan = loan[~loan['last_pymnt_d'].isna()]

# Re-Count null value
loan.isna().sum()

id                      0
member_id               0
loan_amnt               0
funded_amnt             0
funded_amnt_inv         0
term                    0
int_rate                0
installment             0
grade                   0
sub_grade               0
emp_title               0
emp_length              0
home_ownership          0
annual_inc              0
verification_status     0
issue_d                 0
loan_status             0
url                     0
desc                    0
purpose                 0
title                   0
zip_code                0
addr_state              0
dti                     0
earliest_cr_line        0
inq_last_6mths          0
open_acc                0
revol_bal               0
revol_util             43
total_acc               0
total_pymnt             0
total_pymnt_inv         0
total_rec_prncp         0
total_rec_int           0
last_pymnt_d            0
last_pymnt_amnt         0
last_credit_pull_d      2
dtype: int64

In [95]:
# Check last_credit_pull_d column for missing values
loan[loan.last_credit_pull_d.isnull()]

# All of records with missing value for 'last_credit_pull_d' belongs to loans with status as 'Charged off'. 
# Check total count of data for loan status as 'Charged off'
loan['loan_status'].value_counts() 
# 66 out of 5333 records have missing values for 'last_plast_credit_pull_d' which is roughly only 0.03% of the data count.
# Hence removing 2 records should not affect the overall analysis for charged off records.

#Removing rows with missing values for 'last_credit_pull_d'
loan = loan[~loan['last_credit_pull_d'].isna()]

# Re-Count null value
loan.isna().sum()

id                      0
member_id               0
loan_amnt               0
funded_amnt             0
funded_amnt_inv         0
term                    0
int_rate                0
installment             0
grade                   0
sub_grade               0
emp_title               0
emp_length              0
home_ownership          0
annual_inc              0
verification_status     0
issue_d                 0
loan_status             0
url                     0
desc                    0
purpose                 0
title                   0
zip_code                0
addr_state              0
dti                     0
earliest_cr_line        0
inq_last_6mths          0
open_acc                0
revol_bal               0
revol_util             43
total_acc               0
total_pymnt             0
total_pymnt_inv         0
total_rec_prncp         0
total_rec_int           0
last_pymnt_d            0
last_pymnt_amnt         0
last_credit_pull_d      0
dtype: int64